## STA 141B 
### Homework 2

### Your Name: Jeffrey Ugochukwu

You are provided with three datasets, which you will work with.  Submit only this ipynb to canvas.  Work in between the exercise cells and be clear about your answers.  For example, you should add cells below the cell starting with 1.1 for the answer to 1.1.  You can break your answers into as many cells as you like.  Please do not clear your output so that we can see your answers without running all of the cells.

**Exercise 1**

*1.1* (5 pts) Read in the 'county_age_dist.csv' and cast the 'fips' column as a string such that it is a length 5 string of digits that starts with 0 if it is currently of length 4.  Yolo county for example is '06113'.  This is the age distribution of each county in the US (with territories), you may notice that the total population is unusually large, please ignore this.

In [143]:
import pandas as pd
import datetime as date
#Reading CSV file
df = pd.read_csv("county_age_dist.csv")
df.head()

   fips   0-17  18-24  25-34  35-44  45-54  55-64  65-74  75-84   85+
0  1001  25941  11422  12315  13828  14000  12697   9594   5430  1945
1  1003  86587  37568  44133  46730  49675  52405  43252  23262  8854
2  1005  11057   6162   6603   5907   6490   6377   5255   2795  1074
3  1007   9671   5241   5788   5472   6707   5563   4270   2555   638
4  1009  25671  11360  12635  13570  14737  14123  12106   6560  2022

In [82]:
#Converting it to string
df["fips"] = df["fips"].astype(str)
df["fips"]

0        1001
1        1003
2        1005
3        1007
4        1009
        ...
3215    72145
3216    72147
3217    72149
3218    72151
3219    72153
Name: fips, Length: 3220, dtype: object

In [81]:
#Filling in random zeros in column
df["fips"] = df["fips"].str.zfill(4)
df["fips"]

0        1001
1        1003
2        1005
3        1007
4        1009
        ...
3215    72145
3216    72147
3217    72149
3218    72151
3219    72153
Name: fips, Length: 3220, dtype: object

*1.2* (5 pts) Create a population column which is the sum of the age counts for all age bins.  For each age bin create a column which is proportion of the age bin in the county populations, so for example '0-17_rat' is the ratio of '0-17' to the whole population for the county.  Print out the FIPS code for the county with the largest proportion of 0-17 year olds? What is the FIPS code for the county with the largest proportion of 85+ year olds?

In [4]:
#Counting the number of columns for population in age groups using the .sum(axis=1) function
df["population"] = df[["0-17","18-24","25-34","35-44","45-54","55-64","65-74","75-84","85+"]].sum(axis = 1)
df["population"]

0       107172
1       392466
2        51720
3        45905
4       112784
         ...
3215    121223
3216     21708
3217     48348
3218     75923
3219     81465
Name: population, Length: 3220, dtype: int64

In [34]:
#Calculated ratio
df["ratio"] = (df["population"] / df["population"].sum()) * 100
df["ratio"]
#rat = df.groupby(['year','sex'])['births'].transform('sum')
#df["ratio"] = df.groupby()

0       0.016932
1       0.062006
2       0.008171
3       0.007253
4       0.017819
          ...
3215    0.019152
3216    0.003430
3217    0.007639
3218    0.011995
3219    0.012871
Name: ratio, Length: 3220, dtype: float64

In [6]:
#Look at new dataframe
df

,fips,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,population,ratio
0,1001,25941,11422,12315,13828,14000,12697,9594,5430,1945,107172,0.016932
1,1003,86587,37568,44133,46730,49675,52405,43252,23262,8854,392466,0.062006
2,1005,11057,6162,6603,5907,6490,6377,5255,2795,1074,51720,0.008171
3,1007,9671,5241,5788,5472,6707,5563,4270,2555,638,45905,0.007253
4,1009,25671,11360,12635,13570,14737,14123,12106,6560,2022,112784,0.017819
...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,27016,14455,14882,14168,15026,14450,11928,6139,3159,121223,0.019152
3216,72147,4724,2727,2092,2356,2496,2972,2364,1498,479,21708,0.003430
3217,72149,11353,6431,5521,5319,5788,6228,4631,2218,859,48348,0.007639
3218,72151,16068,9025,8465,9199,9548,9805,7926,3784,2103,75923,0.011995
3219,72153,17375,8974,9422,9457,10028,10672,8571,4620,2346,81465,0.012871

In [7]:
#FIPS Code for largest proportion of 0-17
df.groupby(['0-17','ratio'], as_index=False)['fips'].max()   
#df.idxmax(axis = 0)

         0-17     ratio   fips
0          93  0.000090  48301
1         114  0.000109  48269
2         130  0.000213   8079
3         135  0.000133  30069
4         138  0.000176   8111
...       ...       ...    ...
3215  1361194  0.987988   6073
3216  1918441  1.264536   4013
3217  2217190  1.355044  48201
3218  2367187  1.685212  17031
3219  4328177  3.080565   6037

[3220 rows x 3 columns]

In [8]:
#FIPS Code for largest proportion of 85+
df.groupby(['85+','ratio'], as_index=False)['fips'].max()

         85+     ratio   fips
0          9  0.000113  31005
1         11  0.000145  31009
2         11  0.000251   2230
3         16  0.000245  48393
4         17  0.000165   2282
...      ...       ...    ...
3215  139796  0.987988   6073
3216  141401  0.861752  12086
3217  169171  1.264536   4013
3218  239739  1.685212  17031
3219  423981  3.080565   6037

[3220 rows x 3 columns]

*1.3* (10 pts) What is the overall proportion of each age bin within the entire US.  You need to find the total number of each age bin across all counties and take the ratio with the total population.

In [64]:
#For 0-17
(df["0-17"].sum()/df["population"].sum()) * 100

22.48841045336329

In [9]:
#For 18-24
(df["18-24"].sum()/df["population"].sum()) * 100

11.745212359398217

In [10]:
#For 25-34
(df["25-34"].sum()/df["population"].sum()) * 100

12.820036540909738

In [11]:
#For 35-44
(df["35-44"].sum()/df["population"].sum()) * 100

11.915890435917236

In [12]:
#For 45-54
(df["45-54"].sum()/df["population"].sum()) * 100

12.401383354753296

In [13]:
#For 55-64
(df["55-64"].sum()/df["population"].sum()) * 100

12.371873699433591

In [14]:
#For 65-74
(df["65-74"].sum()/df["population"].sum()) * 100

8.939120623646863

In [15]:
#For 75-84
(df["75-84"].sum()/df["population"].sum()) * 100

5.011233512755871

In [16]:
#For 85+
(df["85+"].sum()/df["population"].sum()) * 100

2.3068390198218998

*1.4* (15 pts) Create a new column that contains the mode of the age bins (the age bin with the largest proportion in the county).  Print out the frequencies of the modes different possible values, so that the frequency of '0-17' is the proportion of the counties that have '0-17' as the largest age bin for that county.

In [17]:
#Mode of age bins
df["mode"] = df["ratio"].mode()
df["mode"]

0       0.000145
1       0.000306
2       0.000515
3       0.000696
4       0.000708
          ...
3215         NaN
3216         NaN
3217         NaN
3218         NaN
3219         NaN
Name: mode, Length: 3220, dtype: float64

In [18]:
#Counting the actual mode
df["mode"].value_counts()

0.000708    1
0.030234    1
0.002579    1
0.000306    1
0.006898    1
0.003897    1
0.000788    1
0.003859    1
0.001748    1
0.001847    1
0.016659    1
0.011780    1
0.002814    1
0.002850    1
0.000696    1
0.001877    1
0.000145    1
0.043853    1
0.002999    1
0.010590    1
0.005139    1
0.005871    1
0.003752    1
0.003231    1
0.002555    1
0.001574    1
0.008840    1
0.012763    1
0.004126    1
0.007836    1
0.010824    1
0.002785    1
0.000515    1
0.004857    1
0.003987    1
0.009747    1
0.001662    1
0.002956    1
Name: mode, dtype: int64

**Exercise 2**

*2.1* (5 pts) Read in the 'county_fips_master.csv' and join this to the county age dataframe constructed above such that there is one row for every county in the new dataframe from county_fips_master.  How many rows are there in the new dataframe?  Are there any missing entries?  If so how many rows have missingness?

In [19]:
#Read in data to take account of encoding
df2 = pd.read_csv("county_fips_master.csv", encoding = "ISO-8859-1")
df2.head()

,fips,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
0,1001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
1,1003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
2,1005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
3,1007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
4,1009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central

In [84]:
#Converting fips column to string
df2["fips"] = df2["fips"].astype(str)
df2["fips"]

0        1001
1        1003
2        1005
3        1007
4        1009
        ...
3141    56045
3142    72001
3143    72003
3144    72005
3145    72007
Name: fips, Length: 3146, dtype: object

In [83]:
#Fill in zeros
df2["fips"] = df["fips"].str.zfill(4)
df2["fips"]

0        1001
1        1003
2        1005
3        1007
4        1009
        ...
3141    56045
3142    72001
3143    72003
3144    72005
3145    72007
Name: fips, Length: 3146, dtype: object

In [68]:
#Join by using merge
ddf = pd.merge(df, df2, left_on='fips', right_on='fips')
#ddf = pd.concat([df, df2], axis = 1)
#ddf = pd.concat([df,df2], axis = 1).reindex(df.index)
#ddf = df.set_index("fips").join(df2.set_index('fips'))
#ddf
#ddf = pd.merge(df, df2["fips"], on = "fips", how = "outer")
ddf

,fips,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,...,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
0,1001,25941,11422,12315,13828,14000,12697,9594,5430,1945,...,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
1,1003,86587,37568,44133,46730,49675,52405,43252,23262,8854,...,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
2,1005,11057,6162,6603,5907,6490,6377,5255,2795,1074,...,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
3,1007,9671,5241,5788,5472,6707,5563,4270,2555,638,...,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
4,1009,25671,11360,12635,13570,14737,14123,12106,6560,2022,...,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3141,56045,2901,1336,1402,1719,1551,2118,1309,835,469,...,Wyoming,Sweetwater County WY,50.0,4.0,8.0,56.0,37.0,4-8-56-37,West,Mountain
3142,72001,8356,4358,4440,4022,4402,4509,3511,1977,717,...,Wyoming,Teton County WY,50.0,4.0,8.0,56.0,39.0,4-8-56-39,West,Mountain
3143,72003,17872,10348,10277,10408,11092,11201,8577,4330,1993,...,Wyoming,Uinta County WY,50.0,4.0,8.0,56.0,41.0,4-8-56-41,West,Mountain
3144,72005,25294,14062,14054,13850,14043,15285,13339,7821,2717,...,Wyoming,Washakie County WY,50.0,4.0,8.0,56.0,43.0,4-8-56-43,West,Mountain
3145,72007,12684,6507,6980,7051,6769,6936,5241,3026,1289,...,Wyoming,Weston County WY,50.0,4.0,8.0,56.0,45.0,4-8-56-45,West,Mountain

*2.2* (10 pts) Drop any rows with missingness.  For each state calculate the proportion of each age bin as you did for the entire US in the question above.  What is the state with the most 0-17 proportion and the state with the most 85+ proportion?  Give the proportions.

In [69]:
#Drop NaN's
ddf = ddf.dropna(how='all', axis=1)
ddf

,fips,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,...,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
0,1001,25941,11422,12315,13828,14000,12697,9594,5430,1945,...,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
1,1003,86587,37568,44133,46730,49675,52405,43252,23262,8854,...,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
2,1005,11057,6162,6603,5907,6490,6377,5255,2795,1074,...,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
3,1007,9671,5241,5788,5472,6707,5563,4270,2555,638,...,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
4,1009,25671,11360,12635,13570,14737,14123,12106,6560,2022,...,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3141,56045,2901,1336,1402,1719,1551,2118,1309,835,469,...,Wyoming,Sweetwater County WY,50.0,4.0,8.0,56.0,37.0,4-8-56-37,West,Mountain
3142,72001,8356,4358,4440,4022,4402,4509,3511,1977,717,...,Wyoming,Teton County WY,50.0,4.0,8.0,56.0,39.0,4-8-56-39,West,Mountain
3143,72003,17872,10348,10277,10408,11092,11201,8577,4330,1993,...,Wyoming,Uinta County WY,50.0,4.0,8.0,56.0,41.0,4-8-56-41,West,Mountain
3144,72005,25294,14062,14054,13850,14043,15285,13339,7821,2717,...,Wyoming,Washakie County WY,50.0,4.0,8.0,56.0,43.0,4-8-56-43,West,Mountain
3145,72007,12684,6507,6980,7051,6769,6936,5241,3026,1289,...,Wyoming,Weston County WY,50.0,4.0,8.0,56.0,45.0,4-8-56-45,West,Mountain

In [70]:
#Reset the Index
ddf.reset_index(drop = True)

,fips,0-17,18-24,25-34,35-44,45-54,55-64,65-74,75-84,85+,...,state_name,long_name,sumlev,region,division,state,county,crosswalk,region_name,division_name
0,1001,25941,11422,12315,13828,14000,12697,9594,5430,1945,...,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,3-6-1-1,South,East South Central
1,1003,86587,37568,44133,46730,49675,52405,43252,23262,8854,...,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,3-6-1-3,South,East South Central
2,1005,11057,6162,6603,5907,6490,6377,5255,2795,1074,...,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,3-6-1-5,South,East South Central
3,1007,9671,5241,5788,5472,6707,5563,4270,2555,638,...,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,3-6-1-7,South,East South Central
4,1009,25671,11360,12635,13570,14737,14123,12106,6560,2022,...,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,3-6-1-9,South,East South Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3141,56045,2901,1336,1402,1719,1551,2118,1309,835,469,...,Wyoming,Sweetwater County WY,50.0,4.0,8.0,56.0,37.0,4-8-56-37,West,Mountain
3142,72001,8356,4358,4440,4022,4402,4509,3511,1977,717,...,Wyoming,Teton County WY,50.0,4.0,8.0,56.0,39.0,4-8-56-39,West,Mountain
3143,72003,17872,10348,10277,10408,11092,11201,8577,4330,1993,...,Wyoming,Uinta County WY,50.0,4.0,8.0,56.0,41.0,4-8-56-41,West,Mountain
3144,72005,25294,14062,14054,13850,14043,15285,13339,7821,2717,...,Wyoming,Washakie County WY,50.0,4.0,8.0,56.0,43.0,4-8-56-43,West,Mountain
3145,72007,12684,6507,6980,7051,6769,6936,5241,3026,1289,...,Wyoming,Weston County WY,50.0,4.0,8.0,56.0,45.0,4-8-56-45,West,Mountain

In [74]:
#Group by age group and county name
ddf.groupby(['0-17','ratio'], as_index=False)['long_name'].max()

         0-17     ratio                 long_name
0          93  0.000090        Lipscomb County TX
1         114  0.000109            Kent County TX
2         130  0.000213            Mesa County CO
3         135  0.000133     Musselshell County MT
4         138  0.000176        Saguache County CO
...       ...       ...                       ...
3141  1361194  0.987988  San Bernardino County CA
3142  1918441  1.264536          La Paz County AZ
3143  2217190  1.355044        Hansford County TX
3144  2367187  1.685212         Clinton County IL
3145  4328177  3.080565          Lassen County CA

[3146 rows x 3 columns]

In [75]:
#Group by 85+ and ratio
ddf.groupby(['85+','ratio'], as_index=False)['long_name'].max()

         85+     ratio                     long_name
0          9  0.000113               Adams County NE
1         11  0.000145              Arthur County NE
2         11  0.000251       Skagway Municipality AK
3         16  0.000245           Red River County TX
4         17  0.000165  Wrangell City and Borough AK
...      ...       ...                           ...
3141  139796  0.987988      San Bernardino County CA
3142  141401  0.861752              Marion County FL
3143  169171  1.264536              La Paz County AZ
3144  239739  1.685212             Clinton County IL
3145  423981  3.080565              Lassen County CA

[3146 rows x 3 columns]

*2.3* (10 pts) Calculate the proportion of seniors (65+) within each county, what is the county name of the county with the largest proportion of seniors?

In [77]:
#Created a Separate Column for 65+
ddf["senior_citizens"] = df[['65-74','75-84','85+']].sum(axis = 1)
ddf["senior_citizens"]

0       16969
1       75368
2        9124
3        7463
4       20688
        ...
3141     2613
3142     6205
3143    14900
3144    23877
3145     9556
Name: senior_citizens, Length: 3146, dtype: int64

In [78]:
#Found Ratio for 65+
ddf["senior_ratio"] = (ddf["senior_citizens"]/ddf["senior_citizens"].sum()) * 1000
ddf["senior_ratio"]

0       0.167076
1       0.742071
2       0.089835
3       0.073480
4       0.203693
          ...
3141    0.025728
3142    0.061094
3143    0.146705
3144    0.235092
3145    0.094088
Name: senior_ratio, Length: 3146, dtype: float64

In [80]:
#Grouped by senior citizens and the ratio
ddf.groupby(['senior_citizens','senior_ratio'], as_index=False)['long_name'].max()

      senior_citizens  senior_ratio                     long_name
0                 131      0.001290                Kent County TX
1                 134      0.001319               Adams County NE
2                 137      0.001349  Wrangell City and Borough AK
3                 145      0.001428            Lipscomb County TX
4                 156      0.001536               Logan County NE
...               ...           ...                           ...
3000           929655      9.153350              Marion County FL
3001          1002810      9.873631            Hansford County TX
3002          1236503     12.174564              La Paz County AZ
3003          1620567     15.956045             Clinton County IL
3004          2844754     28.009346              Lassen County CA

[3005 rows x 3 columns]

**Exercise 3**

*3.1* (10 pts) Read in 'time_series_covid19_deaths_US.csv'.  This is the Johns Hopkins official US Covid-19 death cumulative counts for each date and county.  Cumulative cases mean the total reported cases up to and including that date.  Restructure the dataframe such that it is 'tidy' and there is a column for date, deaths, population, and fips.  (Hint: look at pandas melt function)

In [86]:
#Read dataframe
df3 = pd.read_csv("time_series_covid19_deaths_US.csv")
df3.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,84,84,84,85,85,85,85,84,85,89
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,253,253,254,262,262,262,262,263,272,274
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,48,49,49,49,50,50,50,50,50,51
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,57,57,57,58,58,58,58,59,59,60
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,121,121,121,125,125,125,125,125,125,125

In [88]:
#Look at the names of the columns since it's covered up by "..."
for col in df3.columns:
    print(col)

UID
iso2
iso3
code3
FIPS
Admin2
Province_State
Country_Region
Lat
Long_
Combined_Key
Population
1/22/20
1/23/20
1/24/20
1/25/20
1/26/20
1/27/20
1/28/20
1/29/20
1/30/20
1/31/20
2/1/20
2/2/20
2/3/20
2/4/20
2/5/20
2/6/20
2/7/20
2/8/20
2/9/20
2/10/20
2/11/20
2/12/20
2/13/20
2/14/20
2/15/20
2/16/20
2/17/20
2/18/20
2/19/20
2/20/20
2/21/20
2/22/20
2/23/20
2/24/20
2/25/20
2/26/20
2/27/20
2/28/20
2/29/20
3/1/20
3/2/20
3/3/20
3/4/20
3/5/20
3/6/20
3/7/20
3/8/20
3/9/20
3/10/20
3/11/20
3/12/20
3/13/20
3/14/20
3/15/20
3/16/20
3/17/20
3/18/20
3/19/20
3/20/20
3/21/20
3/22/20
3/23/20
3/24/20
3/25/20
3/26/20
3/27/20
3/28/20
3/29/20
3/30/20
3/31/20
4/1/20
4/2/20
4/3/20
4/4/20
4/5/20
4/6/20
4/7/20
4/8/20
4/9/20
4/10/20
4/11/20
4/12/20
4/13/20
4/14/20
4/15/20
4/16/20
4/17/20
4/18/20
4/19/20
4/20/20
4/21/20
4/22/20
4/23/20
4/24/20
4/25/20
4/26/20
4/27/20
4/28/20
4/29/20
4/30/20
5/1/20
5/2/20
5/3/20
5/4/20
5/5/20
5/6/20
5/7/20
5/8/20
5/9/20
5/10/20
5/11/20
5/12/20
5/13/20
5/14/20
5/15/20
5/16/20
5/17/20
5/18/20
5/19/20
5/20/20
5/21/20
5/22/20
5/23/20
5/24/20
5/25/20
5/26/20
5/27/20
5/28/20
5/29/20
5/30/20
5/31/20
6/1/20
6/2/20
6/3/20
6/4/20
6/5/20
6/6/20
6/7/20
6/8/20
6/9/20
6/10/20
6/11/20
6/12/20
6/13/20
6/14/20
6/15/20
6/16/20
6/17/20
6/18/20
6/19/20
6/20/20
6/21/20
6/22/20
6/23/20
6/24/20
6/25/20
6/26/20
6/27/20
6/28/20
6/29/20
6/30/20
7/1/20
7/2/20
7/3/20
7/4/20
7/5/20
7/6/20
7/7/20
7/8/20
7/9/20
7/10/20
7/11/20
7/12/20
7/13/20
7/14/20
7/15/20
7/16/20
7/17/20
7/18/20
7/19/20
7/20/20
7/21/20
7/22/20
7/23/20
7/24/20
7/25/20
7/26/20
7/27/20
7/28/20
7/29/20
7/30/20
7/31/20
8/1/20
8/2/20
8/3/20
8/4/20
8/5/20
8/6/20
8/7/20
8/8/20
8/9/20
8/10/20
8/11/20
8/12/20
8/13/20
8/14/20
8/15/20
8/16/20
8/17/20
8/18/20
8/19/20
8/20/20
8/21/20
8/22/20
8/23/20
8/24/20
8/25/20
8/26/20
8/27/20
8/28/20
8/29/20
8/30/20
8/31/20
9/1/20
9/2/20
9/3/20
9/4/20
9/5/20
9/6/20
9/7/20
9/8/20
9/9/20
9/10/20
9/11/20
9/12/20
9/13/20
9/14/20
9/15/20
9/16/20
9/17/20
9/18/20
9/19/20
9/20/20
9/21/20
9/22/20
9/23/20
9/24/20
9/25/20
9/26/20
9/27/20
9/28/20
9/29/20
9/30/20
10/1/20
10/2/20
10/3/20
10/4/20
10/5/20
10/6/20
10/7/20
10/8/20
10/9/20
10/10/20
10/11/20
10/12/20
10/13/20
10/14/20
10/15/20
10/16/20
10/17/20
10/18/20
10/19/20
10/20/20
10/21/20
10/22/20
10/23/20
10/24/20
10/25/20
10/26/20
10/27/20
10/28/20
10/29/20
10/30/20
10/31/20
11/1/20
11/2/20
11/3/20
11/4/20
11/5/20
11/6/20
11/7/20
11/8/20
11/9/20
11/10/20
11/11/20
11/12/20
11/13/20
11/14/20
11/15/20
11/16/20
11/17/20
11/18/20
11/19/20
11/20/20
11/21/20
11/22/20
11/23/20
11/24/20
11/25/20
11/26/20
11/27/20
11/28/20
11/29/20
11/30/20
12/1/20
12/2/20
12/3/20
12/4/20
12/5/20
12/6/20
12/7/20
12/8/20
12/9/20
12/10/20
12/11/20
12/12/20
12/13/20
12/14/20
12/15/20
12/16/20
12/17/20
12/18/20
12/19/20
12/20/20
12/21/20
12/22/20
12/23/20
12/24/20
12/25/20
12/26/20
12/27/20
12/28/20
12/29/20
12/30/20
12/31/20
1/1/21
1/2/21
1/3/21
1/4/21
1/5/21
1/6/21
1/7/21
1/8/21
1/9/21
1/10/21
1/11/21
1/12/21
1/13/21
1/14/21
1/15/21
1/16/21
1/17/21
1/18/21
1/19/21
1/20/21
1/21/21
1/22/21
1/23/21
1/24/21
1/25/21
1/26/21
1/27/21
1/28/21
1/29/21
1/30/21
1/31/21
2/1/21
2/2/21
2/3/21
2/4/21
2/5/21
2/6/21
2/7/21
2/8/21
2/9/21
2/10/21
2/11/21
2/12/21
2/13/21
2/14/21
2/15/21
2/16/21
2/17/21
2/18/21
2/19/21
2/20/21
2/21/21
2/22/21
2/23/21
2/24/21
2/25/21

In [103]:
#Renamed FIPS column to make joining easier
ddf3 = df3.rename({"FIPS":"fips"}, axis = 1)
ddf3

,UID,iso2,iso3,code3,fips,Admin2,Province_State,Country_Region,Lat,Long_,...,2/16/21,2/17/21,2/18/21,2/19/21,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,84,84,84,85,85,85,85,84,85,89
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,253,253,254,262,262,262,262,263,272,274
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,48,49,49,49,50,50,50,50,50,51
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,57,57,57,58,58,58,58,59,59,60
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,121,121,121,125,125,125,125,125,125,125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,...,9,9,9,9,9,9,9,9,9,9
3336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,...,12,12,12,12,12,12,12,12,12,12
3337,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,...,26,26,26,26,26,26,26,26,26,26
3339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,...,5,5,5,5,5,5,5,5,5,5

In [104]:
#Created better naming system for columns using the melt function
new_df3 = pd.melt(ddf3, id_vars = ["UID","iso2","iso3","code3","fips","Admin2","Province_State","Country_Region","Lat","Long_","Combined_Key","Population"], var_name = "Date", value_name = "Number_of_Deaths")
new_df3

,UID,iso2,iso3,code3,fips,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,Date,Number_of_Deaths
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",55869,1/22/20,0
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",223234,1/22/20,0
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",24686,1/22/20,0
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",22394,1/22/20,0
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",57826,1/22/20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339335,84056039,US,USA,840,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",23464,2/25/21,9
1339336,84056041,US,USA,840,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",20226,2/25/21,12
1339337,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,"Unassigned, Wyoming, US",0,2/25/21,0
1339338,84056043,US,USA,840,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",7805,2/25/21,26
1339339,84056045,US,USA,840,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",6927,2/25/21,5

*3.2* (5 pts) Join the death data to the dataset with the county names, such that it drops those counties that are not within the county name dataset (county_fips_master).  Use only these counties henceforth.  This should remove any counties that have 0 population.  Which county (give county name and state) has the highest proportion of deaths by 2/25/21 to the Population?  Use the population in the covid deaths datasets.

In [105]:
#Convert fips column to string
new_df3["fips"] = new_df3["fips"].astype(str)
new_df3["fips"]

0           1001.0
1           1003.0
2           1005.0
3           1007.0
4           1009.0
            ...
1339335    56039.0
1339336    56041.0
1339337    90056.0
1339338    56043.0
1339339    56045.0
Name: fips, Length: 1339340, dtype: object

In [106]:
#Fill in zeros of fips column
new_df3["fips"] = new_df3["fips"].str.zfill(4)
new_df3["fips"]

0           1001.0
1           1003.0
2           1005.0
3           1007.0
4           1009.0
            ...
1339335    56039.0
1339336    56041.0
1339337    90056.0
1339338    56043.0
1339339    56045.0
Name: fips, Length: 1339340, dtype: object

In [161]:
#Combine columns via concat
ddf2 = pd.concat([df2, new_df3], axis = 1)
#ddf2 = pd.merge(df2, new_df3, left_on='fips', right_on='fips')
#ddf2 = pd.merge(df2, new_df3, how="right", on=["fips", "fips"])
ddf2

,fips,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,...,fips,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,Date,Number_of_Deaths
0,1001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,...,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",55869,1/22/20,0
1,1003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,...,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",223234,1/22/20,0
2,1005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,...,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",24686,1/22/20,0
3,1007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,...,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",22394,1/22/20,0
4,1009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,...,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",57826,1/22/20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",23464,2/25/21,9
1339336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",20226,2/25/21,12
1339337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,"Unassigned, Wyoming, US",0,2/25/21,0
1339338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",7805,2/25/21,26
1339339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",6927,2/25/21,5

In [162]:
#Drop NaN's
ddf2 = ddf2.dropna(axis='columns', how ='all')
ddf2

,fips,county_name,state_abbr,state_name,long_name,sumlev,region,division,state,county,...,fips,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,Date,Number_of_Deaths
0,1001,Autauga County,AL,Alabama,Autauga County AL,50.0,3.0,6.0,1.0,1.0,...,1001.0,Autauga,Alabama,US,32.539527,-86.644082,"Autauga, Alabama, US",55869,1/22/20,0
1,1003,Baldwin County,AL,Alabama,Baldwin County AL,50.0,3.0,6.0,1.0,3.0,...,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,"Baldwin, Alabama, US",223234,1/22/20,0
2,1005,Barbour County,AL,Alabama,Barbour County AL,50.0,3.0,6.0,1.0,5.0,...,1005.0,Barbour,Alabama,US,31.868263,-85.387129,"Barbour, Alabama, US",24686,1/22/20,0
3,1007,Bibb County,AL,Alabama,Bibb County AL,50.0,3.0,6.0,1.0,7.0,...,1007.0,Bibb,Alabama,US,32.996421,-87.125115,"Bibb, Alabama, US",22394,1/22/20,0
4,1009,Blount County,AL,Alabama,Blount County AL,50.0,3.0,6.0,1.0,9.0,...,1009.0,Blount,Alabama,US,33.982109,-86.567906,"Blount, Alabama, US",57826,1/22/20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US",23464,2/25/21,9
1339336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US",20226,2/25/21,12
1339337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90056.0,Unassigned,Wyoming,US,0.000000,0.000000,"Unassigned, Wyoming, US",0,2/25/21,0
1339338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US",7805,2/25/21,26
1339339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US",6927,2/25/21,5

In [163]:
#Calculate death ratio
ddf2["ratio"] = (ddf2["Number_of_Deaths"]/ddf2["Population"]) * 100
ddf2["ratio"]

0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
             ...
1339335    0.038357
1339336    0.059330
1339337         NaN
1339338    0.333120
1339339    0.072181
Name: ratio, Length: 1339340, dtype: float64

In [166]:
#Convert date column to datetime format
ddf2["Date"] = pd.to_datetime(ddf2["Date"])
ddf2["Date"]

0         2020-01-22
1         2020-01-22
2         2020-01-22
3         2020-01-22
4         2020-01-22
             ...
1339335   2021-02-25
1339336   2021-02-25
1339337   2021-02-25
1339338   2021-02-25
1339339   2021-02-25
Name: Date, Length: 1339340, dtype: datetime64[ns]

In [167]:
#Grouped by necessary columns to find specific dates
ddf2.groupby(["county_name", "state_name", "ratio"],as_index=True)["Date"].max()

county_name                state_name      ratio
Abbeville County           South Carolina  0.0     2020-01-22
Acadia Parish              Louisiana       0.0     2020-01-22
Accomack County            Virginia        0.0     2020-01-22
Adair County               Iowa            0.0     2020-01-22
                           Kentucky        0.0     2020-01-22
                                                      ...
Yukon-Koyukuk Census Area  Alaska          0.0     2020-01-22
Yuma County                Colorado        0.0     2020-01-22
Zapata County              Texas           0.0     2020-01-22
Zavala County              Texas           0.0     2020-01-22
Ziebach County             South Dakota    0.0     2020-01-22
Name: Date, Length: 3038, dtype: datetime64[ns]

*3.3* (10 pts) Compute the incidence proportion (number of deaths each day per 100,000 population) for each county, you may save this as a new dataset.  You can calculate the incidence for a given county by taking the difference of the cumulative cases for a day with the previous day.  Notice that this dataset is quite large, one trick to make this faster is to use the fips code and date as indexing variables and use `sort_index` to sort the indices before applying groupby operations.  For full points, you should use `groupby` and `diff` for this operation.

In [171]:
#Difference by day
ddf2.groupby(["ratio", "county_name"],as_index=True)["Date"].diff()

0         NaT
1         NaT
2         NaT
3         NaT
4         NaT
           ..
1339335   NaT
1339336   NaT
1339337   NaT
1339338   NaT
1339339   NaT
Name: Date, Length: 1339340, dtype: timedelta64[ns]

*3.4* (15 pts) Compute the incidence proportion per week (per 100,000 population), which is the sum of the incidences for all days in a week.  Hint: use Periods in Pandas.  A week is defined to be Sunday through Saturday.  Which is the week with the highest mean incidence proportions (where the mean is taken over all the counties)?  You can either sum the incidence counts within the week, or take a difference of the cumulative cases between consecutive Sundays, and these should produce the same thing.

In [178]:
#Difference by Week
ddf2.groupby(["ratio", "county_name"],as_index=True)["Date"].diff()

0         NaT
1         NaT
2         NaT
3         NaT
4         NaT
           ..
1339335   NaT
1339336   NaT
1339337   NaT
1339338   NaT
1339339   NaT
Name: Date, Length: 1339340, dtype: timedelta64[ns]

*3.5* (bonus 15 pts, no partial credit will be given) For each week (should be roughly 40 weeks), compute the spearman correlation between the proportion of seniors in the county and the incidence proportion for that county at that week, calculated in 3.4 (each county is considered to be a sample for computing the correlation).  Print all correlations below.  This should be a single number for each week.